@media screen and (max-width: 1024.99px) {

    .header__nav {
        align-items: center;
        padding: 19px 15px 39px 15px;

    }


    .header__logo {
        max-width: 136px;
    }

    .mobile-container {
        display: none;

        &.show {
            display: flex;
            margin: 0px;
            padding: 41px 0px 60px 0px;
            transition: 0.3s;
            width: 100%;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            top: 72px;
            left: 0px;
            background-color: var(--colorDarkGreyTwo);
        }
    }

    .show .header__nav__link-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 34px;
    }

    .show .header__nav__link-block a {
        line-height: 222%;
        font-size: 24px;
        text-align: center;

        &:hover {
            color: var(--colorButton);
        }
    }

    .show .btn-small {
        width: 295px;
        height: 68px;
        margin: 0 auto;

    }
}