@media (min-width: 1025px) {

    .section__title.text-lg-start {

        &::after {
            left: 0;

        }
    }

    .swiper-advantages {
        .swiper-wrapper {
            flex-wrap: wrap;
            gap: 26px 0px;
        }
        .swiper-slide {
            max-width: 25%;
        }
        .swiper-pagination {
            display: none;
        }
    }
}
