@media screen and (max-width: 767px) {
    .container {
        margin: 0px;
    }

    h1,
    .h1 {
        font-size: 32px;
    }

    h5,
    h6,
    .h5,
    .h6 {
        font-size: 16px;
    }

    .form__row {
        flex-direction: column;
        gap: 0px;
    }

    .calculation__block {
        .calucation__form {
            padding: 52px 30px 34px;
            min-height: 846px;
            border-radius: 20px;
            width: 100%;
        }
    }

    .variation-box {
        padding-top: 10px;
    }

    .special_gap {
        margin-bottom: 5px;
    }

    .form__column {
        .btn-with-icon {
            width: 100%;
        }

        .input-box_label {
            margin-bottom: 0px;
        }
    }

}