.swiper-template {
    .swiper-wrapper {
        max-width: 1323px;

        // .swiper-slide-next,
        // .swiper-slide-active {
        //     width: 360px !important;
        // }

        .swiper-slide {
            min-height: 482px;
            background-color: var(--colorDarkGreyTwo);
            width: 360px;
            border-radius: 20px;

            .template__card {
                text-align: center;
                width: 360px;

                .template__img_box {
                    min-height: 229px;
                    margin-bottom: 27px;
                    border-radius: 20px 20px 0px 0px;
                }

                .template__title {
                    margin-bottom: 12px;
                }

                .template__subtitle {
                    margin-bottom: 14px;
                    display: flex;
                    justify-content: center;

                    p {
                        margin: 0;
                        position: relative;
                        padding-right: 5px;
                        margin-left: 57px;

                        &:first-child::before,
                        &:last-child::before {
                            content: " ";
                            position: absolute;
                            top: -1px;
                        }


                        &:first-child::before {
                            width: 22px;
                            height: 22px;
                            background: url('assets/img/calendar-img.png') center/contain no-repeat;
                            left: -32px;
                        }

                        &:last-child::before {
                            width: 24px;
                            height: 24px;
                            background: url('assets/img/box-img.png') center/contain no-repeat;
                            left: -34px;

                        }
                    }
                }

                .template__price {
                    margin-bottom: 22px;
                    color: #A3A3A3;
                    font-weight: 400;
                    min-height: 56px;

                    span {
                        color: var(--colorWhite);
                        font-weight: 700;
                        font-size: 45px;

                        span {
                            font-weight: 400;
                            font-size: 22px;
                        }

                    }
                }

                .template__buttons {
                    display: flex;
                    gap: 14px;

                    .btn {
                        width: 100%;
                        padding: 13px 13px;
                    }

                    margin: 0 20px;
                }
            }
        }
    }

    .swiper-template__arrows {
        max-width: 1323px;
        position: relative;
        bottom: 218px;
        margin: 0 auto;
    }
}