.container {
    padding: 0px 20px;
    max-width: 1170px;
}

.header__nav {
    padding: 25px 12px 39px 12px;
    position: relative;
}

.mobile-container {
width: 100%;
}

.header__nav__link-block {
    gap: 25px;
    align-items: center;
    margin: 0 auto;
    a {
        text-decoration: none;
        color: var(--colorWhite);
        line-height: 146%;
    }
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 28px;
    height: 3px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: var(--colorWhite);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: var(--colorWhite);
}

.hamburger-box {
    width: 28px;
}

.hamburger {
    padding: 0px;
    justify-content: center;
    align-items: center;
}