<div class="section__block">
    <section class="section__content container">

        <div class="section__title section__title_half">
            <h2>Отримати розрахунок вартості доставки вашого вантажу</h2>
        </div>
        <div class="calculation__block position-relative">
            <form class="calucation__form">
                <div class="form__row">
                    <div class="form__column">
                        <div class="input-box">
                            <label for="product-category">Категорія товару:</label>
                            <input type="text" id="product-category" placeholder="Категорія товару">
                        </div>

                        <div class="input-box">
                            <label for="cargo-weight">Вага вантажу (кг):</label>
                            <input type="text" id="cargo-weight" placeholder="Введіть вагу">
                        </div>
                    </div>

                    <div class="form__column">
                        <div class="input-box">
                            <label for="cargo-cost">Вартість вантажу:</label>
                            <input type="text" id="cargo-cost" placeholder="Введіть вартість">
                        </div>

                        <div class="input-box">
                            <label for="cargo-volume">Об'єм вантажу (м3):</label>
                            <input type="text" id="cargo-volume" placeholder="Введіть об'єм">
                        </div>
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__column">
                        <div class="variation-box">
                            <div class="control-box">
                                <input type="checkbox" id="insurance">
                                <label for="insurance">Страховка</label>
                            </div>

                            <div class="control-box">
                                <input type="checkbox" id="clearance">
                                <label for="clearance">Митне оформлення</label>
                            </div>
                        </div>

                    </div>

                    <div class="form__column">
                        <div class="input-box">
                            <label for="code">Код ТН ЗЕД:</label>
                            <input type="text" id="code" placeholder="Введіть код">
                        </div>
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__column">
                        <div class="input-box">
                            <div class="file-name">1111</div>
                            <input type="file" id="product-photos" class="input-box_input">
                            <label for="product-photos" class="input-box_label">Завантажити фото товару</label>
                        </div>
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__column">

                        <button type="button" class="btn btn-primary btn-lg btn-with-icon">Наступний крок
                            <img class="icon-button-arrow" src="assets/img/icon-arrow-1.svg" alt="arrow">
                        </button>
                    </div>
                </div>
            </form>
        <img class="calculation__img" src="assets/img/man-img.png" alt="">

        </div>


    </section>
</div>