<section class="first-screen">
  <div class="swiper-info">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(assets/img/slide-1.png);">
        <div class="container">
          <div class="swiper-info__banner">
            <h1 class="swiper-info__banner__title">Пряме карго з Китаю</h1>
            <h5 class="swiper-info__banner__description fw-300">Доставляємо будь-який вантаж з Китаю за честною ціною
            </h5>
            <button type="button" class="btn btn-primary btn-lg btn-with-icon">Розрахувати вартість
               <img class="icon-button-arrow" src="assets/img/icon-arrow-1.svg" alt="arrow">
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(assets/img/slide-2.png);">
        <div class="container">
          <div class="swiper-info__banner">
            <h2 class="swiper-info__banner__title">Викуп товару з TaoBao, 1688</h2>
            <h5 class="swiper-info__banner__description fw-300">Викуп та доставка товарів з китайських торгівельних
              майданчиків</h5>
            <button type="button" class="btn btn-primary btn-lg btn-with-icon">Розрахувати вартість
               <img class="icon-button-arrow" src="assets/img/icon-arrow-1.svg" alt="arrow">
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(assets/img/slide-3.png);">
        <div class="container">
          <div class="swiper-info__banner">
            <h2 class="swiper-info__banner__title" style="margin-bottom: 100px;">Експрес авто доставка</h2>
            <button type="button" class="btn btn-primary btn-lg btn-with-icon">Розрахувати вартість
               <img class="icon-button-arrow" src="assets/img/icon-arrow-1.svg" alt="arrow">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-info__arrows">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

  </div>

</section>