<div class="section__block p-0">
    <section class="section__content container">
        <div class="section__title">
            <h2>Послуги</h2>
        </div>

        <div class="swiper-template services">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="template__card" style="background-image: url('assets/img/services-img-1.png');">
                        <!-- <div class="template__img_box">
                            <img src="assets/img/services-img-1.png" alt="">
                        </div> -->
                        <div class="template__card__content">
                            <h4 class="template__title">Викуп товару</h4>
                            <p class="template__description">Компанія - це повний комплекс логістичних послуг по доставці
                                вантажу з Китаю в Україну - збірні вантажі і цільні товарні партії, послуги посередника
                                TaoBao, КАРГО Китай-Україна</p>
                                <button type="button" class="btn btn-secondary btn-small">Детальніше</button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="template__card" style="background-image: url('assets/img/services-img-2.png');">
                        <div class="template__card__content">
                            <h4 class="template__title">Страхування вантажу</h4>
                            <p class="template__description">Компанія - це повний комплекс логістичних послуг по доставці
                                вантажу з Китаю в Україну - збірні вантажі і цільні товарні партії, послуги посередника
                                TaoBao, КАРГО Китай-Україна</p>
                                <button type="button" class="btn btn-secondary btn-small">Детальніше</button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="template__card" style="background-image: url('assets/img/services-img-3.png');">
                        <div class="template__card__content">
                            <h4 class="template__title">Оренда складу</h4>
                            <p class="template__description">Компанія - це повний комплекс логістичних послуг по доставці
                                вантажу з Китаю в Україну - збірні вантажі і цільні товарні партії, послуги посередника
                                TaoBao, КАРГО Китай-Україна</p>
                                <button type="button" class="btn btn-secondary btn-small">Детальніше</button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="template__card" style="background-image: url('assets/img/services-img-4.png');">
                        <div class="template__card__content">
                            <h4 class="template__title">Переказ грошових коштів</h4>
                            <p class="template__description">Компанія - це повний комплекс логістичних послуг по доставці
                                вантажу з Китаю в Україну - збірні вантажі і цільні товарні партії, послуги посередника
                                TaoBao, КАРГО Китай-Україна</p>
                                <button type="button" class="btn btn-secondary btn-small">Детальніше</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-template__arrows">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

    </section>
</div>