<div class="section__block">
    <section class="section__content container" >
        <div class="section__title">
            <h2>Варіанти доставки вантажу з Китаю</h2>
        </div>

            <div class="swiper-template">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="template__card">
                            <div class="template__img_box">
                                <img src="assets/img/delivery-img-1.png" alt="">
                            </div>
                            <h4 class="template__title">Авто - звичайна</h4>
                            <div class="template__subtitle">
                                <p>9-15 днів</p>
                                <p>від 5 кг</p>
                            </div>
                            <h6 class="template__price">від <span>2,5<span>$/кг</span></span></h6>
                            <div class="template__buttons">
                                <button type="button" class="btn btn-primary btn-small">Залишити заявку</button>
                                <button type="button" class="btn btn-secondary btn-small">Детальніше</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="template__card">
                            <div class="template__img_box">
                                <img src="assets/img/delivery-img-2.png" alt="">
                            </div>
                            <h4 class="template__title">Авто - прискорена</h4>
                            <div class="template__subtitle">
                                <p>9-15 днів</p>
                                <p>від 5 кг</p>
                            </div>
                            <h6 class="template__price">від <span>2,5<span>$/кг</span></span></h6>
                            <div class="template__buttons">
                                <button type="button" class="btn btn-primary btn-small">Залишити заявку</button>
                                <button type="button" class="btn btn-secondary btn-small">Детальніше</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="template__card">
                            <div class="template__img_box">
                                <img src="assets/img/delivery-img-3.png" alt="">
                            </div>
                            <h4 class="template__title">Авіа</h4>
                            <div class="template__subtitle">
                                <p>9-15 днів</p>
                                <p>від 5 кг</p>
                            </div>
                            <h6 class="template__price">від <span>2,5<span>$/кг</span></span></h6>
                            <div class="template__buttons">
                                <button type="button" class="btn btn-primary btn-small">Залишити заявку</button>
                                <button type="button" class="btn btn-secondary btn-small">Детальніше</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="template__card">
                            <div class="template__img_box">
                                <img src="assets/img/delivery-img-4.png" alt="">
                            </div>
                            <h4 class="template__title">З/д</h4>
                            <div class="template__subtitle">
                                <p>9-15 днів</p>
                                <p>від 5 кг</p>
                            </div>
                            <h6 class="template__price">від <span>2,5<span>$/кг</span></span></h6>
                            <div class="template__buttons">
                                <button type="button" class="btn btn-primary btn-small">Залишити заявку</button>
                                <button type="button" class="btn btn-secondary btn-small">Детальніше</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="template__card">
                            <div class="template__img_box">
                                <img src="assets/img/delivery-img-5.png" alt="">
                            </div>
                            <h4 class="template__title">Море</h4>
                            <div class="template__subtitle">
                                <p>9-15 днів</p>
                                <p>від 5 кг</p>
                            </div>
                            <h6 class="template__price">від <span>2,5<span>$/кг</span></span></h6>
                            <div class="template__buttons">
                                <button type="button" class="btn btn-primary btn-small">Залишити заявку</button>
                                <button type="button" class="btn btn-secondary btn-small">Детальніше</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-template__arrows">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>

    </section>
</div>